createdAt: "2019-04-09T20:07:19.446Z"
updatedAt: "2019-05-09T20:09:22.187Z"
type: "MARKDOWN_NOTE"
folder: "5f373a065de0e65b1791"
title: "IoT Project"
tags: []
content: '''
  # IoT Project
  
  
  * Telegram BoTIoT
  
  | Sensores|||
  |  Tipo | Nome  | Preço |
  |:-:|:-:|:-:|
  |  Luminosidade  | LDR  | |
  |  Microfone  | Microfone  | |
  |  Temp/Umidade  | DHT-11 | |
  |  Barômetro  |   | |
  |  Buzzer  |   | |
  |  Relê  |   | |
  
  ## Schematics 
  To design and simulate an schem use:
  [Circuits on Tinkercad \\| Tinkercad](https://www.tinkercad.com/circuits)
  
  ## SPRINTS:
  
  ## S01 (2-classes) :v:
  SERIAL NODEMCU -- ARDUINO 
  ## S02 (1-class)
  NODEMCU -- KONKER
  ## S03 (3-classes)
  TELEGRAM BOT
  TELEGRAM BOT <-> COMUNICATION <-> KONKER
  ## S04 (2-classes)
  TELEGRAM BOT <-> COMUNICATION <-> KONKER <-> NODEMCU
  ## S05 (6-classes)
  ARDUINO SENSORS
  ## S06 (2-classes)
  DOCUMENTATION AND PRESENTATION
  ## S07 - OPTIONAL
  PCI CRIATION -- EAGLE
'''
isStarred: false
isTrashed: false
