createdAt: "2019-05-05T02:18:03.292Z"
updatedAt: "2019-05-21T20:53:06.067Z"
type: "MARKDOWN_NOTE"
folder: "c1dd5f0ad17993d9328e"
title: "WIKI"
tags: [
  "Arduino"
]
content: '''
  # WIKI
  Links:
  * [“IoT feito fácil”: Conectando coisas desde qualquer canto do mundo! «](https://mjrobot.org/2017/12/21/iot-feito-facil-conectando-coisas-desde-qualquer-canto-do-mundo/)
  
  
  MQTT:
  [Steve's Internet Guide-MQTT and IOT](http://www.steves-internet-guide.com/)
'''
isStarred: false
isTrashed: false
